.header {
    padding: 20px;
    text-align: center;
    background: white;
    font-size: 20px;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .box2 {
    width: 400px;
    height: 100px;
    background-color: goldenrod;
    border: solid black;
    text-align: left;
    border-radius: 5px;
  }

  p {
      padding-left: 10px;
  }

  .box {
    box-shadow: 0 10px 20px rgba(0,0, 0, 0.19), 0 6px 6px rgba(0,0, 0, 0.23);
    width: 400px;
    height: 200px;
    background-color: goldenrod;
    border: solid black;
    text-align: center;
    border-radius: 5px;
  }



  #box-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* margin: 0 -5px; */
  }
  
  #left-box {
    /* float: left; */
    /* margin: 0 5px; */
  }

  #left-box:hover {
    font-weight: bold;
  }

  #center-box {
    /* float: left; */
    margin-left: 20px;
    margin-right: 20px;
    /* margin: 0 5px; */

  }

  #right-box {
    /* float: right; */
    /* margin: 0 5px; */
  }

  #result-box {
    display: flex;
    margin: auto;
    width: 400px;
    background-color: goldenrod;
    border: solid black;
    text-align: center;
    border-radius: 5px;
    padding: 10px;

  }


  #hr {
      width: 200px;
  }


  .carousel-master {     
    width: 400px;
  }

  .carousel-img {
    width: 150px;
    height: 150px;
  }


  

